@model Analise_E_Simulacao_Tarifacao_Energia.ViewModels.ContaViewModel

@{
    ViewBag.Title = "Cadastrar Conta";
}

<h2>Nova Conta</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>Mês e ano de referência: </label>
                @Html.DropDownListFor(model => model.Mes, Model.meses, "", new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.Ano, new { htmlAttribute = new { @type = "number" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Distribuidora: </label>
                @Html.DropDownListFor(model => model.conta.DistribuidoraID, Model.distribuidoras, "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Bandeira: </label>
                @Html.DropDownListFor(model => model.conta.BandeiraID, Model.bandeiras, "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Contrato: </label>
                @Html.DropDownListFor(model => model.conta.TipoContratoID, Model.tiposContrato, "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Sub Grupo: </label>
                @Html.DropDownListFor(model => model.conta.TipoSubGrupoID, Model.tiposSubGrupo, "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <table>
            <tr>
                <th>Desrição Da Conta</th>
                <th>Registrado</th>
                <th>Contratado</th>
                <th>Faturado</th>
                <th>Tarifa/Preço</th>
                <th>Valor (R$)</th>
            </tr>
            <tr>
                <th>Consumo Ponta (Kw) - TUSD</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTUSD_Registrado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTUSD_Contratado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTUSD_Faturado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTUSD_TarifaPreco, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTUSD_Valor, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
            <tr>
                <th>Consumo Fora Ponta (Kw) - TUSD</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTUSD_Registrado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTUSD_Contratado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTUSD_Faturado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTUSD_TarifaPreco, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTUSD_Valor, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
            <tr>
                <th>Consumo Ponta Bandeira Verde TE</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTE_Registrado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTE_Contratado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTE_Faturado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTE_TarifaPreco, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoNaPontaTE_Valor, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
            <tr>
                <th>Consumo Fora Ponta Bandeira Verde TE</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTE_Registrado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTE_Contratado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTE_Faturado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTE_TarifaPreco, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoForaPontaTE_Valor, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
            <tr>
                <th>Ultrapassagem Na Ponta</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemNaPonta_Registrado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>&nbsp;</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemNaPonta_Faturado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemNaPonta_TarifaPreco, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemNaPonta_Valor, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
            <tr>
                <th>Ultrapassagem Fora Ponta</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemForaPonta_Registrado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>&nbsp;</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemForaPonta_Faturado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemForaPonta_TarifaPreco, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.ConsumoUltrapassagemForaPonta_Valor, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
            <tr>
                <th>Demanda TUSD</th>
                <th>@Html.EditorFor(model => model.conta.DemandaTUSD_Registrado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.DemandaTUSD_Contratado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.DemandaTUSD_Faturado, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.DemandaTUSD_TarifaPreco, new { htmlAttribute = new { @type = "number" } })</th>
                <th>@Html.EditorFor(model => model.conta.DemandaTUSD_Valor, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
            <tr>
                <th>Total Pago</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>@Html.EditorFor(model => model.conta.ValorTotal, new { htmlAttribute = new { @type = "number" } })</th>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "List")
</div>
