@model Analise_E_Simulacao_Tarifacao_Energia.Models.ContaModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarifaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarifaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FabricaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistribuidoraID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistribuidoraID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoContratoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoContratoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSubGrupoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSubGrupoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTUSD_Registrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTUSD_Registrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTUSD_Registrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTUSD_Registrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTE_Registrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTE_Registrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTE_Registrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTE_Registrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemNaPonta_Registrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemNaPonta_Registrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemForaPonta_Registrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemForaPonta_Registrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandaTUSD_Registrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemandaTUSD_Registrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTUSD_Contratado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTUSD_Contratado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTUSD_Contratado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTUSD_Contratado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTE_Contratado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTE_Contratado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTE_Contratado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTE_Contratado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandaTUSD_Contratado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemandaTUSD_Contratado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTUSD_Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTUSD_Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTUSD_Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTUSD_Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTE_Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTE_Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTE_Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTE_Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemNaPonta_Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemNaPonta_Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemForaPonta_Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemForaPonta_Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandaTUSD_Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemandaTUSD_Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTUSD_TarifaPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTUSD_TarifaPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTUSD_TarifaPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTUSD_TarifaPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTE_TarifaPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTE_TarifaPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTE_TarifaPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTE_TarifaPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemNaPonta_TarifaPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemNaPonta_TarifaPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemForaPonta_TarifaPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemForaPonta_TarifaPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandaTUSD_TarifaPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemandaTUSD_TarifaPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTUSD_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTUSD_Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTUSD_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTUSD_Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoNaPontaTE_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoNaPontaTE_Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoForaPontaTE_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoForaPontaTE_Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemNaPonta_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemNaPonta_Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoUltrapassagemForaPonta_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoUltrapassagemForaPonta_Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandaTUSD_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemandaTUSD_Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandeiraID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandeiraID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
