@model Analise_E_Simulacao_Tarifacao_Energia.Models.ContaModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>@Model.MesReferencia</h2>

<div>
    <table>
        <tr>
            <th>Desrição Da Conta</th>
            <th>Registrado</th>
            <th>Contratado</th>
            <th>Faturado</th>
            <th>Tarifa/Preço</th>
            <th>Valor (R$)</th>
        </tr>
        <tr>
            <th>Consumo Ponta (Kw) - TUSD</th>
            <th>@Model.ConsumoNaPontaTUSD_Registrado</th>
            <th>@Model.ConsumoNaPontaTUSD_Contratado</th>
            <th>@Model.ConsumoNaPontaTUSD_Faturado</th>
            <th>@Model.ConsumoNaPontaTUSD_TarifaPreco</th>
            <th>@Model.ConsumoNaPontaTUSD_Valor</th>
        </tr>
        <tr>
            <th>Consumo Fora Ponta (Kw) - TUSD</th>
            <th>@Model.ConsumoForaPontaTUSD_Registrado</th>
            <th>@Model.ConsumoForaPontaTUSD_Contratado</th>
            <th>@Model.ConsumoForaPontaTUSD_Faturado</th>
            <th>@Model.ConsumoForaPontaTUSD_TarifaPreco</th>
            <th>@Model.ConsumoForaPontaTUSD_Valor</th>
        </tr>
        <tr>
            <th>Consumo Ponta Bandeira Verde TE</th>
            <th>@Model.ConsumoNaPontaTE_Registrado</th>
            <th>@Model.ConsumoNaPontaTE_Contratado</th>
            <th>@Model.ConsumoNaPontaTE_Faturado</th>
            <th>@Model.ConsumoNaPontaTE_TarifaPreco</th>
            <th>@Model.ConsumoNaPontaTE_Valor</th>
        </tr>
        <tr>
            <th>Consumo Fora Ponta Bandeira Verde TE</th>
            <th>@Model.ConsumoForaPontaTE_Registrado</th>
            <th>@Model.ConsumoForaPontaTE_Contratado</th>
            <th>@Model.ConsumoForaPontaTE_Faturado</th>
            <th>@Model.ConsumoForaPontaTE_TarifaPreco</th>
            <th>@Model.ConsumoForaPontaTE_Valor</th>
        </tr>
        <tr>
            <th>Ultrapassagem Na Ponta</th>
            <th>@Model.ConsumoUltrapassagemNaPonta_Registrado</th>
            <th>&nbsp;</th>
            <th>@Model.ConsumoUltrapassagemNaPonta_Faturado</th>
            <th>@Model.ConsumoUltrapassagemNaPonta_TarifaPreco</th>
            <th>@Model.ConsumoUltrapassagemNaPonta_Valor</th>
        </tr>
        <tr>
            <th>Ultrapassagem Fora Ponta</th>
            <th>@Model.ConsumoUltrapassagemForaPonta_Registrado</th>
            <th>&nbsp;</th>
            <th>@Model.ConsumoUltrapassagemForaPonta_Faturado</th>
            <th>@Model.ConsumoUltrapassagemForaPonta_TarifaPreco</th>
            <th>@Model.ConsumoUltrapassagemForaPonta_Valor</th>
        </tr>
        <tr>
            <th>Demanda TUSD</th>
            <th>@Model.DemandaTUSD_Registrado</th>
            <th>@Model.DemandaTUSD_Contratado</th>
            <th>@Model.DemandaTUSD_Faturado</th>
            <th>@Model.DemandaTUSD_TarifaPreco</th>
            <th>@Model.DemandaTUSD_Valor</th>
        </tr>
        <tr>
            <th>Total Pago</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>@Model.ValorTotal</th>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { data = Model.dataReferencia }) |
    @Html.ActionLink("Voltar", "List")
</p>
