@model IEnumerable<Analise_E_Simulacao_Tarifacao_Energia.Models.ContaModel>

@{
    ViewBag.Title = "Contas";
}

<h2>Contas</h2>

<p>
    @Html.ActionLink("Nova Conta", "Create")

</p>
<table class="table">
    <tr>
        <th>Mês Referencia</th>
        <th>&nbsp;</th>
    </tr>

    @foreach (var item in Model.OrderByDescending(x => x.dataReferencia))
    {
        <tr>
            <td>@item.MesReferencia</td>
            <td>
                @Html.ActionLink("Details", "Details", new { data = item.dataReferencia }) |
                @Html.ActionLink("Editar", "Edit", new { data = item.dataReferencia }) |
                @Html.ActionLink("Excluir", "Delete", new { data = item.dataReferencia })
            </td>
        </tr>
    }

</table>
