@model Analise_E_Simulacao_Tarifacao_Energia.Models.UsuarioModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>

    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        
        <dt>CPF</dt>
        <dd>@Html.DisplayFor(model => model.MascaraCPF)</dd>
        
        <dt>Nome</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit") |
    @Html.ActionLink("Voltar a lista", "List")
</p>
