@model IEnumerable<Analise_E_Simulacao_Tarifacao_Energia.Models.UsuarioModel>

@{
    ViewBag.Title = "Usuarios";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Novo usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>Email</th>
        <th>Nome</th>
        <th>Data de Registro</th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(u => u.Email)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @item.DataRegistro.ToString("dd/mm/yyyy")
        </td>
        <td>
            @Html.ActionLink((item.Ativo) ? "Desativar": "Ativar", "Delete", new { email=item.Email })
        </td>
    </tr>
}

</table>
